<div class="profile-container">
  <div class="profile-header">
    <div class="profile-image-container">
      <img src="../../../assets/download.jpeg" alt="Profile Image" />
    </div>
    <div class="profile-info">
      <b><h1>{{ userProfile?.username }}</h1></b>
      <p>{{ userProfile?.email }}</p>
    </div>
  </div>
  <div class="actions-container">
    <button mat-raised-button color="primary" (click)="generateOverallPerformancePdf()">
      Generate Overall Performance PDF
    </button>
  </div>
  <div class="quiz-history-container">
    <h2>Quiz History</h2>
    <table mat-table [dataSource]="userQuizzesPageable" class="mat-elevation-z8">
      <ng-container matColumnDef="quizTitle">
        <th mat-header-cell *matHeaderCellDef aria-label="Quiz Title">Quiz Title</th>
        <td mat-cell *matCellDef="let quiz">{{ quiz.quiz.title }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef aria-label="Date & Time">Date & Time</th>
        <td mat-cell *matCellDef="let quiz">{{ quiz.attemptDate | date:'medium' }}</td>
      </ng-container>
      <ng-container matColumnDef="marks">
        <th mat-header-cell *matHeaderCellDef aria-label="Marks">Marks</th>
        <td mat-cell *matCellDef="let quiz">
          <button mat-button (click)="generateQuizResultPdf(quiz)">{{ quiz.marksEarned }} / {{ quiz.quiz.maxMarks }}</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['quizTitle', 'date', 'marks']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['quizTitle', 'date', 'marks'];"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="pageSize" [length]="userQuizzes.length" (page)="onPageChange($event)"></mat-paginator>
  </div>
</div>
