<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" routerLink="/">
    <mat-icon>menu_book</mat-icon>
    ExamPortal
  </button>

  <span class="example-spacer"></span>

  <button mat-button *ngIf="!isLoggedIn" routerLink="/login">
    <mat-icon>login</mat-icon>
    Login
  </button>

  <button mat-button *ngIf="!isLoggedIn" routerLink="/signup">
    <mat-icon>person_add</mat-icon>
    Register
  </button>

  <span >
    <button
    *ngIf="isLoggedIn"
    mat-button>
      <mat-icon>person</mat-icon>
      {{login.getUser().username}}
    </button>
  </span>

  <button mat-button *ngIf="isLoggedIn" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>
