<nav class="trendy-menu mobile-menu">
  <div class="menu-header">Menu</div>
  <div class="menu-items">
    <a routerLink='/admin' class="menu-item">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    <a routerLink='/admin/profile/' class="menu-item">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </a>
    <a routerLink='/admin/categories/' class="menu-item">
      <mat-icon>add_shopping_cart</mat-icon>
      <span>Categories</span>
    </a>
    <a routerLink='/admin/add-category' class="menu-item">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Add Categories</span>
    </a>
    <a routerLink='/admin/quizzes/' class="menu-item">
      <mat-icon>quiz</mat-icon>
      <span>Quizzes</span>
    </a>
    <a routerLink='/admin/add-quiz/' class="menu-item">
      <mat-icon>add</mat-icon>
      <span>Add Quizzes</span>
    </a>
    <a routerLink='/admin/profile/' class="menu-item">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </a>
  </div>
</nav>
